<h1>Tasks</h1>

<% @tasks.each do |task| %>
  <%= image_tag task.photo %>
  <%= link_to task.title, task_path(id: task.id) %>
  <% if user_signed_in?%>
    <%= link_to "Ir a mis tareas",todos_path, class: 'btn btn-warning'  %>
  <% else%>
  <% end %>
<% end %>
