<h2>Descripción</h2>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Titulo</th>
      <th scope="col">Foto</th>
      <th scope="col">Tarea completada por</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @task.title%></td>
      <td><%= image_tag @task.photo, style: 'width: 20%' %></td>
      <td><% @todos.each do |todo|%>
      <li>
        <%= todo.user.email %>     
      </li>
      <% end %></td>
    </tr>
  </tbody>
</table>
<hr>
<%= link_to "Back",todos_path, class: 'btn btn-warning btn-lg btn-block' %>
